body{
background-size: cover;
background-position: center;
}
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status,#start_model,#number_of_objects
{
font-size: 18px;
}
canvas{
    background-color:rgb(255, 251, 251) ;
    border-radius: 10px ;
    border-color: 10px solid black;
    box-shadow:5px 5px 5px red ;
    margin-top: 20px;
}

